/* Définir la couleur de premier plan du corps */
body {
  color: #161616;
}

/* Définir la couleur de premier plan pour tous les éléments d'ancrage */
a {
  color: #161616;
}

/* Masquer des éléments avec la classe visuellement cachée */
.visually-hidden {
  display: none;
}

/* Définir la couleur de premier plan pour les éléments avec la classe card-category */
.card-category {
  color: #D73953;
}

/* Définir la couleur de premier plan pour les éléments avec le slogan de la section de classe */
.section-tagline {
  color: #D73953;
}
