/* Définir des propriétés personnalisées dans la pseudo-classe :root */
:root {
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

/* Appliquer les propriétés personnalisées */
body {
  font-weight: var(--font-weight-regular);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-bold);
}
